    {
            "v_keyfile": "./packer/key.json",
            "v_folderid": "bla-bla-bla-id",
            "v_srcimage": "ubuntu-1604-lts",
	    "v_subnet": "bla-bla-bla-subnet",
	    "v_source_image_folder_id": "bla-bla-bla-src-img"
    }
