cloud_id                 = "Id_cloud"
folder_id                = "id folder"
zone                     = "ru-central1-a"
image_id                 = "id image"
public_key_path          = "/path/to/public/key"
subnet_id                = "id subnet"
service_account_key_file = "/path/to/key.json"
app_disk_image           = "app image id"
db_disk_image            = "db image id"
